h2 Список компетенций
= render 'search'
= link_to 'Создать', new_competence_path, class: 'btn btn-info pull-right'

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

div#competences-list
  = render 'competences'